@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-LIGHT.TTF) format('truetype');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-BOOK.TTF) format('truetype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-MEDIUM.TTF) format('truetype');
  font-display: swap;
  font-weight: 450;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-DEMI.TTF) format('truetype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-HEAVY.TTF) format('truetype');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-BOLD.TTF) format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu-Bold.ttf) format('truetype');
  font-display: swap;
  font-weight: 700;
}
